[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backoff = "*"
boto3 = "*"
python-dateutil = "*"
python-decouple = "*"
requests = "*"
structlog = "*"

[dev-packages]
advbumpversion = "*"
autoflake = "*"
codecov = "*"
isort = "*"
moto = "*"
pipenv = "*"
pytest = "*"
pytest-cov = "*"
pytest-localstack = "*"
pytest-xdist = "*"
recommonmark = "*"
sentry_sdk = "*"
sphinx = "*"
wheel = "*"

[requires]
python_version = "3.6"
